.box-plantas{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: palevioletred;
    padding: 10px;
}

.previa-base-planta{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: green;
}

.continer-img-planta{
    width: 20%;
    background-color: aqua;
    overflow: hidden;
}

.continer-img-planta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}