*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina-inicial{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#conteiner-geral{
    width: 100%;
    height: 70%;
    background-color: red;
    padding: 20px;
}

#conteiner-plantas{
    width: 100%;
    height: 90%;
    padding: 20px;
    background-color: blue;
    overflow-x: hidden;
    overflow-y: auto;
}